ul.pokemonList {
    margin: 0 2em 0;
    list-style: none;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul.pokemonList li{
  width: 128px;
  height: 128px;
  border: 1px solid #999;
  padding: 1em;
  margin: 0.5em;
  flex-basis: auto;
}

ul.pokemonList div.pokemonBox p{
  margin: 0.2em auto 0.2em;
  padding: 0;
  text-align: center;
}

ul.pokemonList div.pokemonBox img{
  margin: 0 auto 0;
  width: 96px;
  height: 96px;
  padding: 0;
  display: block;
}